extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero fugit, maxime explicabo, consequatur nobis nihil fuga nisi nostrum deserunt veniam ea voluptate dignissimos itaque adipisci reiciendis et error sapiente laboriosam?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptatem harum, repellendus natus tempora quidem officiis sed. Dolorum, repellat? Maxime ab sapiente deserunt unde? Vero est esse molestias dolores sit!
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")