extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero fugit, maxime explicabo, consequatur nobis nihil fuga nisi nostrum deserunt veniam ea voluptate dignissimos itaque adipisci reiciendis et error sapiente laboriosam?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptatem harum, repellendus natus tempora quidem officiis sed. Dolorum, repellat? Maxime ab sapiente deserunt unde? Vero est esse molestias dolores sit!
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
    .container
        h2.mt-5.mb-4.pt-5.text-center Proximos Viajes
        include ./layout/bloque_viajes
        
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2025 - 28 de Marzo de 2025
                        p.precio $2,500 USD

    .container
        h2.mt-5.mb-4.pt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales